<h1>Editing Book</h1>
<div class="error">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited book from being saved:
    <ul>
      <h2>
      <% @book.errors.full_messages.each do |message| %>
      </h2>
        <li class="error-box"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<!--更新機能のためのform_withヘルパー、urlに更新の情報を送信-->
<%= form_with model: @book, url: "/books/#{@book.id}", method: :patch do|f| %>

  <div class="field">
    <label for="book-title">Title</label>
    <p class="book-title"><%= f.text_field :title %></p>
  </div>
  
  <div class="field">
    <label for="book-body">Body</label>
    <p class="book-body"><%= f.text_area :body %></p>
  </div>
  
  
  <p class="update">
    <%= f.submit 'Update Book' %>
  </p>
  <div class="button">
    <%= link_to "Show", "/books/#{@book.id}"  %>
    |
    <%= link_to "Back", "/books" %>
  </div>
  
  
<% end %>

